/* Write your global styles here, in PostCSS syntax */
/* Write your global styles here, in PostCSS syntax */
@import '@fontsource/manrope';
@import '@fontsource/jetbrains-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

